body
{
  background-color: #d1fafc;
}

.carousel-item{
    height: 700px;
}
.carousel-item img{
    height: 100%;
}
#aboutMe{
    background-color: #e6f8e8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#aboutMe img{
    width: 50%;
    display: flex;
}

.me{
    display: flex;
}


.content{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
#projects{
    background-color:white;
}

.decorationLine{
    background-color: yellowgreen;
    height: 2px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
}
.eachProject{
    background-color: white;
    padding: 15px;
    box-shadow: 10px 10px 10px #9d29ae;
}

.eachProject IMG{
    width: 50%;
}

.horizontalLine{
    width: 20%;
    height: 5px;
    background-color: white;
    margin: auto;
}
#contact{
    background-color:#04bad2;
}
.whiteText{
    color: white;
}
.headerOfContact h2{
    color: white;
}
.userData{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}
input, textarea{
    width: 90%;
    margin-bottom: 15px !important;
}
button{
    float: right;
    padding: 10px 25px;
    background-color:#89d4cf;
    color: white;
}
.myButton{
    padding-right: 5%;
}










@media (min-width: 992px) and (max-width: 1200px)
{
    .carousel-item{
        height: 600px;
    }
}
@media (min-width: 721px) and (max-width: 991px)
{
    .carousel-item{
        height: 450px;
    }
}
@media (max-width: 720px){
    .carousel-item{
        height: 350px;
    }
}